* {
  box-sizing: border-box;
}

ul, li {
  all: unset;
}

body {
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* flexbox와 함께 사용 */
.wrap {
  flex-wrap: wrap;
}

/* flexbox와 함께 사용 */
.main-axis-evenly {
  justify-content: space-evenly;
}

/* flexbox와 함께 사용 */
.main-axis-around {
  justify-content: space-around;
}

/* flexbox와 함께 사용 */
.main-axis-between {
  justify-content: space-between;
}

/* flexbox와 함께 사용 */
.cross-axis-center {
  align-items: center;
}

.evenly-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.around-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 8px;
}

h1 {
  color: red;
}

.video-playground {
  display: flex;
  flex-direction: column;
}

.video-wrapper {
  position: relative;
  width: 700px;
  flex-grow: 0;
}

.video-wrapper video {
  width: 100%;
}

.video-wrapper .video-control-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.video-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.video-controls>.left-side, .video-controls>.right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start, .mute, .full-screen {
  display: flex;
  align-items: center;
  height: 30px;
}

.start img, .mute img, .full-screen img, .current-playback-rate, .playback-rate-value {
  cursor: pointer;
}

.left-side .start, .left-side .volume, .left-side .time, 
.left-side .playback-rate, .left-side .full-screen {
  margin-left: 10px;
}

.right-side .start, .right-side .volume, .right-side .time, 
.right-side .playback-rate, .right-side .full-screen {
  margin-right: 10px;
}

.playback-rate {
  position: relative;
}

.current-playback-rate {
  border: 0.5px solid black;
  border-radius: 20%;
  background-color: darkslategray;
  color: whitesmoke;
  line-height: 1.5em;
  width: 2em;
  text-align: center;
  font-size: 0.8em;
}

.playback-rate .playback-rate-list {
  position: absolute;
  top: -100px;
  left: 0;
}

.playback-rate-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100px;
}

.event-stack-section {
  flex-grow: 1;
  padding: 0;
}

.event-stack-section h2 {
  margin-top: 0;
  color: blue;
}

.event-stack {
  flex-grow: 1;
  width: 100%;
  /* 500px이 적용되는 것은 아님. overflow: scroll을 위해 아무 숫자나 입력 TODO: 좀 더 의미 있는 설정 방법은 없을까? */
  height: 500px;
  overflow: scroll;
  min-height: 200px;
  border: 1px solid black;
}

.hide {
  display: none;
}

@media (max-width: 575px) {
  .video-playground {
    width: 100%;
  }

  .video-wrapper {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .video-playground {
    width: 500px;
  }

  .video-wrapper {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .video-playground {
    width: 700px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .video-playground {
    width: 900px;
    display: flex;
    flex-direction: row;
  }

  .event-stack-section {
    padding: 0 5px;
    align-items: center;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .video-playground {
    width: 1200px;
    display: flex;
    flex-direction: row;
  }

  .video-wrapper {
    width: 1000px;
  }

  .event-stack-section {
    padding: 0 5px;
    align-items: center;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #2d2d2d;
  }
} */